.tiptap.ProseMirror {
  /* LIGHT MODE */
  --code-bg: #f6f8fa;
  --code-fg: #000000;

  .dark & {
    /* DARK MODE */
    --code-bg: #000000;
    --code-fg: #e6edf3;
  }
}

.tiptap {
  pre {
    background: var(--code-bg);
    color: var(--code-fg);
    border-radius: 0.6rem;
    padding: 0.9rem 1.1rem;
    margin: 1.5rem 0;
    overflow-x: auto;
  }
}
